body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h4{
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 50px;
    font-size: larger;
}
main {
    display: flex;
}

form {
    background-color: darkcyan;
    padding: 20px;
}
form div {
    margin-bottom: 10px;
}
#radio {
    display: flex;
}
#radio h4 {
    font-size: 14px;
}
#select {
    margin-bottom: 10px;
}
#table {
    background-color: darkgrey;
    margin-left: 10px;
}
table, th, td {
    border:1px solid black;
}
#titles {
    font-size: 15px;
}